:root {
    --primary-color: #3679FD;
    --secondary-color: #037030;
}

.botaoEntrar {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 360px;
    height: 66px;
    border-radius: 8px;
    margin-top: 20px;
}

button:focus {
    outline: none;
}

a {
    color: var(--secondary-color);
}

p {
    color: var(--primary-color);
    font-size: 16px;
}

.textos p{
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
}

.finals{
    text-align: center;
}

.container{
    text-align: center;
    width: 360px;
    background-color: white;
}

.campos{
    margin-top:30px;
}

input {
    height: 60px;
    width: 360px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: var(--primary-color);
    border-color: #BEBEBE;
    background-color: white;
    font-size: 16px;
    padding: 2px 0px 0px 40px;
    box-sizing: border-box;
}

input::placeholder {
    color: var(--primary-color);  /* Altere para a cor desejada */
    font-size: 16px;  /* Se necessário, ajuste o tamanho da fonte */
}

.inputSpaces {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #3679FD;
}

.icons {
    position: absolute;
    width:25px; 
    height: 25px;
    margin-right: 10px;
    left: 10px;
    pointer-events: none;
}

.input-button {
    position: absolute;
    right: 10px; /* Distância do lado direito */
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.button-icon {
    width: 25px; 
    height: 25px;
}

.line {
    border-bottom: 1px solid #ccc; /* Linha fina de cor cinza */
    margin-top: 20px; /* Espaço acima da linha */
}